.main {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hom {
    background-image: url(../Images/image1.jpg);
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    background-repeat: no-repeat;
}

.main_txt_home {
    align-items: center;
    box-sizing: border-box;
    color: rgb(65, 75, 86);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 0px;
    position: absolute;
    right: 5%;
    text-align: center;
    text-size-adjust: 100%;
    top: 45%;
}

.highlighting_heading {
    color: rgb(65, 75, 86);
    display: block;
    font-family: Georgia, serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 51px;
    margin-bottom: 30px;
    text-align: center;
    text-size-adjust: 100%;
    width: 400px;
}

/* -------buttons styling----- */

.btn2, .btn3, .btn4 {
    display: inline-block;
    border-radius: 17px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 34px;
    padding: 6px 16px;
    outline: 0;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    min-width: initial;
    cursor: pointer;
    color: #414B56;
    text-shadow: none;
    margin-bottom: 18px;
}

.btn3, .btn2 {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
}

.btn2 {
    margin-right: 10px;
}

.btn4 {
    color: #414B56;
    border: 1px solid #A1A4A6;
    background-color: transparent;
    margin-right: 80%;
    margin-top: 3%;
}

.btn3:hover, .btn2:hover, .btn4:hover {
    border-color: #00A2E1;
    background-color: #00A2E1;
    box-shadow: none;
    color: #FFFFFF;
}

.quiz_link {
    color: rgb(65, 75, 86);
    /* color:#414B56; */
    cursor: pointer;
    display: inline;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
}

.link1 {
    color: rgb(65, 75, 86);
    text-decoration: none;
}

.second_division {
    align-items: center;
    background-color: rgb(248, 248, 248);
    background-image: none;
    box-sizing: border-box;
    display: flex;
    font-family: Helvetica, Verdana, sans-serif;
    height: 486px;
    justify-content: center;
    width: 100%;
}

.secondary_text {
    box-sizing: border-box;
    color: rgb(65, 75, 86);
    display: block;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 600;
    height: 136px;
    line-height: 34px;
    margin-bottom: 175px;
    margin-top: 175px;
    max-width: 50%;
    text-align: center;
    text-size-adjust: 100%;
}

.third_division {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.Imgholder1 {
    padding: 10px 20px 10px 90px;
}

.Imgholder2 {
    padding: 10px 90px 10px 20px;
}

.img-responsive {
    width: 100%;
}

.Img3 {
    display: block;
    width: 300px;
}

.demo-block {
    margin: 36px 0px 0px 36px;
    min-width: 10%;
}

.main_heading {
    box-sizing: border-box;
    color: rgb(65, 75, 86);
    display: block;
    font-size: 24px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    text-align: left;
    text-size-adjust: 100%;
    width: 300px;
    margin-bottom: 8px;
}

.third_div_text {
    color: #676F78;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-size-adjust: 100%;
    width: 500px;
}

@media only screen and (max-width: 900px) {
    .main_txt_home {
        margin-top: 52%;
        right: 20%;
    }
    .highlighting_heading {
        font-size: 40px;
        width: 500px;
    }
    .btn2, .btn3 {
        border: 1px solid #A1A4A6;
        background-color: transparent;
        font-size: 16px;
    }
    .second_division {
        margin-top: 33%;
    }
    .secondary_text {
        min-width: 70%;
        font-size: 24px;
        font-weight: 400;
    }
    .third_division {
        flex-direction: column;
    }
    .Imgholder1, .Imgholder2 {
        padding: 30px 150px;
    }
    .main_heading, .third_div_text {
        text-align: center;
        width: 400px;
    }
    .third_div_text {
        font-size: 16px;
    }
    .btn4 {
        margin-right: 16%;
    }
}

@media only screen and (max-width: 768px) {
    .main_txt_home {
        margin-top: 60%;
        right: 20%;
    }
    .second_division {
        margin-top: 36%;
    }
}

@media only screen and (max-width: 600px) {
    .main_txt_home {
        margin-top: 80%;
        right: 9%;
    }
    .highlighting_heading {
        font-size: 30px;
    }
    .second_division {
        margin-top: 53%;
    }
    .secondary_text {
        font-size: 20px;
    }
    .Imgholder1, .Imgholder2 {
        padding: 30px 10px;
    }
    .demo-block {
        margin: 36px 0px 0px 105px;
    }
    .main_heading, .third_div_text {
        text-align: center;
        width: 300px;
    }
    .btn4 {
        margin-right: 26%;
    }
}

@media only screen and (max-width: 548px) {
    .main_txt_home {
        margin-top: 90%;
        right: 0%;
        margin-left: 6%;
    }
    .second_division {
        margin-top: 53%;
    }
    .btn2 {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 498px) {
    .main_txt_home {
        margin-left: 10%;
    }
    .highlighting_heading {
        font-size: 22px;
    }
    .second_division {
        margin-top: 53%;
    }
    .demo-block {
        margin: 36px 0px 0px 60px;
    }
    .btn4 {
        margin-right: 16%;
    }
}

@media only screen and (max-width: 467px) {
    .main_txt_home {
        margin: 105% 0 0 55%;
    }
    .highlighting_heading {
        font-size: 18px;
    }
}

@media only screen and (max-width: 398px) {
    .main_txt_home {
        margin-top: 118%;
    }
    .highlighting_heading, .button-wrapper,.quiz_link{
        padding-left: 100px;
    }
    .btn2, .btn3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 345px) {
    .main_txt_home {
        margin-top: 130%;
    }
    .second_division {
        margin-top: 63%;
    }
    .highlighting_heading, .button-wrapper,.quiz_link{
        padding-left: 150px;
    }
}